@import "./variables.scss";
html,body{
  margin: 0;
  padding: 0;
}
html {
  font-family: $base-font-family;
  word-spacing: 1px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
body{
  color: #333;
}
input, label, select, option, textarea, button, fieldset, legend, pre {
  font-family: $base-font-family;
}

.clearfix{
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.clear {
  clear: both;
}

/* 图片加载器（兼容IE9）
[ieVersion = "9"] {
  .gif-loading {
    padding: 10px 0;
    text-align: center;

    &:after {
      content: "";
      display: inline-block;
      width: 38px;
      height: 38px;
      background: url(../img/loading.gif) no-repeat;
      background-size: contain;
    }
  }
}
*/
